<div class="body">
  <%= link_to 'Edit Account Info', edit_user_registration_path %>

  <h1><%= @users_name %></h1>

  <div>
    <% @users_bar.each do |bar|%>
    <div>
      <%= link_to bar.name, bar_path(bar)  %>
    </div>
    <% end %>
  </div>

  <div>
    <% @users_review.each do |review|%>
    <div>
      <%= review.title %>
      <%= review.body %>
      <%= review.rating %>
      <%= review.price %>
      <%= link_to "Edit Review", [:edit, review.bar, review]  %>
    </div>
    <% end %>
  </div>

</div>
