<h2 class="header">Sign Up</h2>
<div class="body-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.file_field :profile_photo %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up", class: "button" %>
    <%= render "devise/shared/links"%>
  </div>
  <% end %>
</div>
