<div class="header">
  <div class="header-buttons">
    <% if user_signed_in? %>
      <% if current_user.id == @bar.user_id %>
        <%= link_to 'Edit', edit_bar_path(@bar), class: "button" %>
        <%= link_to 'Delete', @bar, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
      <% elsif current_user.admin? %>
        <%= link_to 'Edit', edit_bar_path(@bar), class: "button" %>
        <%= link_to 'Delete Bar (Admin Power)', @bar , method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>
  <h1 class="bar_title"><%= @bar.name %></h1>
</div>

<div class="body-container">
  <div class="callout secondary block">
    <%= image_tag @bar_photo, class: "bar-photo"%>
    <%= @bar.description %>
    <div class="address">
      <%= @bar.address %>
      <%= @bar.city %>
      <%= @bar.state %>
      <%= @bar.zip %>
    </div>
  </div>

  <div class="review-form">
    <% if current_user.nil? %>
      <div class="callout">Please log in to write a review.</div>
    <% else %>
      <%= render 'reviews/form' %>
    <% end %>
  </div>

  <div class="reviews">
    <% @reviews.each do |review| %>
      <div class="individual-review">
        <div class="vote-container">
          <%= form_for ([review, @vote]) do |f| %>
            <%= button_tag class: 'upvote-submit', id: "upvote-submit-#{review.id}" do %>
              <i class="fa fa-thumbs-up"></i>
            <% end %>
            <%= f.hidden_field :upvote, value: true %>
          <% end %>

          <% if review.votes.entries.length > 0 %>
            <div id="review-sum-<%=review.id%>"><%= review.vote_counter(review.votes)%></div>
          <% else %>
              <div id="review-sum-<%=review.id%>">0</div>
          <% end %>

          <%= form_for ([review, @vote]) do |f| %>
            <%= button_tag class: 'downvote-submit', id: "downvote-submit-#{review.id}" do %>
              <i class="fa fa-thumbs-down"></i>
            <% end %>
            <%= f.hidden_field :upvote, value: false %>
          <% end %>
        </div>

        <div class="review-body">
          <p>
            <% review.rating.to_i.times do %>
              <i class="fa fa-star"></i>
            <% end %>
            <span class="dolla-signs">
              <% review.price.to_i.times do %>
                <i class="fa fa-usd"></i>
              <% end %>
            </span>
            <% if !review.user.nil? %>
              <span class="posted">Posted by: <%= review.user.username %></span>
            <% end %>
            <br>
            <span class="review-title"><strong><%= review.title %></strong></span>
            <br>
            <%= review.body %>
            <br>
          </p>
        </div>
        <% if current_user.admin? %>
        <%= link_to 'Delete', "#{@bar.id}/reviews/#{review.id}", method: :delete, data: { confirm: 'Are you sure?' }, id: "review-delete" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
