<p>
  <%= review.title %>
  <%= review.body %>
  <%= review.rating %>
  <%= review.price %>

  <%= form_for @review.upvotes.build do |f| %>
  <%= f.hidden_field :user, value: current_user %>
  <%= f.submit 'Upvote', class: 'upvote-submit' %>
<% end %>
</p>
