<!DOCTYPE html>
<html>
<head>
  <title>RaiseTheBar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

</head>
<body>
  <% if user_signed_in? %>
    <div class="top_nav row">
      <div id="sign_out" class="nav_element"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
      <div class="nav_element"><%= link_to 'Profile', profile_path(current_user) %></div>
      <div class="nav_element"><%= link_to 'Home', bars_path %></div>
      <div>
        <%= form_tag("/bars/search", method: "get") do %>
        <ul class="menu">
          <li>
            <%= text_field_tag :q%>
          </li>
          <li>
            <%= submit_tag("Search") %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>

  <% end %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

<%= yield %>

</body>
</html>
